html {
    height: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
    background-image: url("VliegtuigFoto.jpg");
}

.container {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    width: 1024px;
}

img {
    height: 120px;
    position: absolute;
    margin-left: auto;
    left: 15px;
}

.Registreren {
    background-color: rgb(0,0,0,0.3);
    position: fixed;
    right: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 13px;
}

header {
    height: 120px;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: white;
}

nav {
    text-align: center;
    font-size: 13px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: rgb(0,0,0,0.3);
}

main {
    padding-top: 60px;
    text-align: center;
    font-size: 20px;
    font-family: "Arial Black", cursive;
    color: white;
}

footer {
    text-align: center;
    padding-top: 100px;
}

a {
    padding-right: 10px;
    padding-left: 10px;
    font-family: "Arial Black", cursive;
    text-decoration: none;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

