html{
    height: 100%;
}

body{
    background-color: #2f3035;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("VliegtuigFoto.jpg");
    background-position: center;
}

.content{
    display: flex;
    position: center;
}

.container{
    position: center;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header{
    margin-left: 300px;
    margin-right: 300px;
    height: 118px;
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 45px;
    margin-top: 50px;
    font-family: 'Arial Black', cursive;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

nav{
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

main {
    text-align: center;
    padding: 50px 100px 80px;
    font-family: 'Arial Black', cursive;
    color: white;
    font-size: 15px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

nav a{
    text-decoration: none;
    font-size: 12px;
    font-family: "Arial Black", cursive;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

img{
    height: 115px;
    padding-left: 35px;
    padding-top: 30px;
}

footer{
    padding-left: 500px;
}

.registreren{
    padding-top: 60px;
}

a{
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    display: inline-block;
    position: relative;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}