.form-control {
    width: 100%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #CFD9E3;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn_del {
    background-color: #FF5733 !important;
}

.Container {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 4px;
    margin-top: 50px;
    color: white;
}

.container_display {
    margin-inside: center;
    width: 1024px;
    background-color: rgb(0, 0, 0, 0.1);
    margin-top: 30px;
}

label {
    font-size: 16px;
}

.success {
    margin: 5px auto;
    border-radius: 5px;
    border: 3px solid #fff;
    background: #33CC00;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    box-shadow: 10px 5px 5px grey;
}

.container_display {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

table {
    margin-right: auto;
    margin-left: auto;
    color: black;
    font-size: 18px;
}

.fotos {
    border: 5px solid rgb(0, 0, 0, 0.5);
}

.btn {
    width: 100px;
    border: 5px white;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    height: 30px;
}

/* Style the p tag */
.btn p {
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    margin-left: 30px;
    transition: all 0.5s ease;
}

/* Style the first icon with class send */
.send {
    position: absolute;
    top: 15px;
    left: 30px;
    color: #fff;
    transition: all 0.5s ease;
}

/* Style the second icon with class send2 */
.send2 {
    position: absolute;
    top: 80px;
    left: 30px;
    color: #696666;
    transition: all 0.5s ease;
}


/* Hover effects */
.btn:hover {
    background: steelblue;
    transition: all 0.5s ease;
}

.btn:hover p {
    color: #696666;
    transition: all 0.5s ease;
    animation: move 1s linear 1s forwards;
}

.btn:hover .send {
    top: -50px;
    transition: all 0.5s ease;
}

.btn:hover .send2 {
    top: 15px;
    transition: all 0.5s ease;
    animation: sending 1s linear 1s forwards;
}


/* CSS3 animation keyframes */
@keyframes sending {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translate(40px, -60px);
    }
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-18px);
    }
}



