html {
    height: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    background-attachment: fixed;
    background-color: gray;
    background-image: url("../img/clear.jpg");
    /*min-height: 100%;*/
}

.title{
    height: 120px;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: white;
    font-style: italic;
    font-style: oblique;
}

.container {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    width: 1024px;
}

.logo {
    height: 120px;
    position: absolute;
    margin-left: auto;
    left: 15px;
}

.Registreren {
    /*background-color: rgb(0,0,0,0.3);*/
    list-style: none;
    display: inline-block;
    padding: 15px 17px;
    right: 15px;
    /*padding-top: 14px;*/
    /*padding-bottom: 14px;*/
    font-size: 13px;
    position: fixed;
}

/*.Registreren:hover{*/
/*    background-color: white;*/
/*}*/

header {
    height: 120px;
    text-align: center;
    margin-top: 50px;
    font-size: 70px;
    color: white;
    font-style: italic;
    font-style: oblique;
}

nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    /*background-color: rgb(0,0,0,0.3);*/

}

/*.nav {*/
/*    list-style: none;*/
/*    display: inline-block;*/
/*    padding: 15px 20px;*/
/*    background-color: red;*/
/*}*/

main {
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
    font-family: "Bookman Old Style";
    color: white;

}

h3 {
    font-family: "Bell MT", cursive;
}

footer {


    text-align: center;

    padding-top: 100px;
}

.weerbericht {
    right: 0;
}

a {
    padding-right: 10px;
    padding-left: 10px;
    font-family: "Arial Black", cursive;
    text-decoration: none;

}

.hover-underline-animation {
    /*display: inline-block;*/
    /*list-style: none;*/
    /*position: relative;*/
    color: #015381;
    list-style: none;
    display: inline-block;
    padding: 12px 30px;
    background-color: rgba(127, 196, 250, 0.71);
    position: relative;
}

/*.Registreren a:active{
    color: red;
}
.Registreren a:hover{
     color: red;*/

.hover-underline-animation::after {
    /*content: '';*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*transform: scaleX(0);*/
    /*height: 2.5px;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*background-color: red;*/
    /*transform-origin: bottom center;*/
    /*transition: transform 0.25s ease-out;*/
    content: '';
    width: 0%;
    height: 2.5px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.3s;

}


.hover-underline-animation:hover::after {
    /*transform: scaleX(1);*/
    /*transform-origin: bottom center;*/
    width: 100%;
}

/*------ CSS voor CONTACT Pagina-------*/

.row {
    /*margin-top: 5%;*/
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 1px;
    line-height: 1.5;
}

.contact {
    text-align: center;
    padding-top: 50px;
}

.contact-col {
    flex-basis: 25%;
    /*background-color: rgb(0,0,0,0.5);*/
    background: #3b70dc;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    padding: 9px 12px;
    box-sizing: border-box;
}

}

/*.layer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}*/

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background-color: #cc2c2c;

}

/*.layer p{
    width: 80%;
    font-weight: 100;
    font-size: 17px;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateY(-50%);
    transition: 0.5s;
    text-align: center;
    position: absolute;
}*/

.layer p {
    width: 100%;
    font-weight: 100;
    font-size: 17px;
    bottom: 0;
    left: 40%;
    transform: translateX(-40%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover p {
    bottom: 20%;
    opacity: 1;
}

.contact h2 {
    color: black;
}

.contact-col h2 {
    color: black;
}

p {
    text-align: center;
}

/* ------ div layer for E-MAIL en LOCATIE -------*/

.layer2 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer2:hover {
    background-color: #cc2c2c;
}

.layer2 p {
    width: 100%;
    font-weight: 100;
    font-size: 17px;
    bottom: 0;
    left: 40%;
    transform: translateX(-40%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer2:hover p {
    bottom: 25%;
    opacity: 1;
}

.fa-solid, .fas {
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-right: 2%;
}


.layer2 a {
    color: darkblue;
    text-align: center;
    font-weight: 100;
    font-size: 17px;
    text-decoration: underline;
}


.layer2 a:hover {
    color: white;
}

/* unvisited link
a[href="mailto:"]:link {
    color: red;
}

/* visited link
.a:visited {
    color: green;
}

/* mouse over link
.a:hover {
    color: hotpink;
}

/* selected link
.a:active {
    color: blue;

