body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px #000000;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
select {
    width: 95%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 14px;

}

input[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    position:relative; bottom: 50px; top:10px

}

input[type="button"]:hover {
    background-color: #0056b3;
}

.success-message {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 14px;
    text-align: center;
    border: 3px solid green;
}

.maintenance-message {
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    color: rgb(0,0,0,0.3);
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 14px;
    text-align: center;
    border: 3px solid green;
}

.klik-hier-knop {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: ;
    color: #fff;
    border-radius: 14px;
    border: none;
    transition: background-color 0.3s ease;
}

.klik-hier-knop:hover {
    background-color: #45a049;
}

