/*html{*/
/*    height: 100%;*/
/*}*/

/*body{*/
/*    background-color: #2f3035;*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-image: url("VliegtuigFoto");*/
/*    background-position: center;*/
/*}*/

/*.content{*/
/*    display: flex;*/
/*    position: center;*/
/*    background-color: chartreuse;*/
/*}*/

/*.container{*/
/*    position: center;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    width: 1024px;*/
/*    background-color: red;*/
/*}*/

/*header{*/
/*    margin-left: 300px;*/
/*    margin-right: 300px;*/
/*    height: 118px;*/
/*    text-align: center;*/
/*    color: white;*/
/*    padding-top: 20px;*/
/*    font-size: 45px;*/
/*    margin-top: 50px;*/
/*    font-family: 'Arial Black', cursive;*/
/*    -webkit-text-fill-color: white;*/
/*    -webkit-text-stroke-width: 2px;*/
/*    -webkit-text-stroke-color: black;*/
/*    background-color: blue;*/
/*}*/

/*nav{*/
/*    background-color: rgba(0, 0, 0, 0.3);*/
/*    text-align: center;*/
/*    padding-top: 15px;*/
/*    padding-bottom: 15px;*/
/*}*/

/*main {*/
/*    text-align: center;*/
/*    padding: 50px 100px 80px;*/
/*    font-family: 'Arial Black', cursive;*/
/*    color: white;*/
/*    font-size: 15px;*/
/*    -webkit-text-fill-color: white;*/
/*    -webkit-text-stroke-width: 2px;*/
/*    -webkit-text-stroke-color: black;*/
/*    background-color: purple;*/
/*}*/

/*nav a{*/
/*    text-decoration: none;*/
/*    font-size: 12px;*/
/*    font-family: "Arial Black", cursive;*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
/*    color: white;*/
/*    -webkit-text-fill-color: white;*/
/*    -webkit-text-stroke-width: 1px;*/
/*    -webkit-text-stroke-color: black;*/
/*}*/

/*img{*/
/*    height: 115px;*/
/*    padding-left: 35px;*/
/*    padding-top: 30px;*/
/*    background-color: brown;*/
/*}*/

/*footer{*/
/*    padding-left: 500px;*/
/*    background-color: aqua;*/
/*}*/

/*.registreren{*/
/*    padding-top: 60px;*/
/*}*/

/*a{*/
/*    color: white;*/
/*    -webkit-text-fill-color: white;*/
/*    -webkit-text-stroke-width: 1px;*/
/*    -webkit-text-stroke-color: black;*/
/*    display: inline-block;*/
/*    position: relative;*/
/*}*/

/*.hover-underline-animation {*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    color: white;*/
/*}*/

/*.hover-underline-animation::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    transform: scaleX(0);*/
/*    height: 3px;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    background-color: white;*/
/*    transform-origin: bottom center;*/
/*    transition: transform 0.25s ease-out;*/
/*}*/

/*.hover-underline-animation:hover::after {*/
/*    transform: scaleX(1);*/
/*    transform-origin: bottom center;*/
/*}*/

html{
    height: 100%;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: cornflowerblue;
    background-image: url("skycontact.jpg");
}

.container{
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    width: 1024px;
}

img{
    height: 120px;
    position: absolute;
    margin-left: auto;
    left: 15px;
}

.Registreren{
    background-color: rgb(0,0,0,0.3);
    position: fixed;
    right: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 13px;
}

header{
    height: 120px;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: white;
}

nav{
    text-align: center;
    font-size: 13px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: rgb(0,0,0,0.3);
}

main{
    padding-top: 60px;
    text-align: center;
    font-size: 20px;
    font-family: "Arial Black", cursive;
    color: white;
}

footer{
    text-align: center;
    padding-top: 100px;
}

a{
    padding-right: 10px;
    padding-left: 10px;
    font-family: "Arial Black", cursive;
    text-decoration: none;
    color: white;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    text-decoration: none;

}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}
